node-red/flows/bluetti-direct-full-flow.json
[
  {
    "id": "bluetti-tab-001",
    "type": "tab",
    "label": "Bluetti Direct - Completo",
    "disabled": false,
    "info": "Fluxo completo para Bluetti via BLE. Configure o MAC no nó bluetti direct."
  },
  {
    "id": "bluetti-direct-001",
    "type": "bluetti-direct",
    "z": "bluetti-tab-001",
    "name": "Bluetti Principal",
    "mac": "COLOQUE_O_MAC_DA_BLUETTI_AQUI",
    "interval": "5",
    "autoStart": true,
    "x": 560,
    "y": 180,
    "wires": [["bluetti-normalize-001", "debug-status-001"], ["debug-error-001"]]
  },
  {
    "id": "inject-connect-001",
    "type": "inject",
    "z": "bluetti-tab-001",
    "name": "Conectar",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "{\"command\":\"connect\"}",
    "payloadType": "json",
    "x": 150,
    "y": 80,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "inject-read-001",
    "type": "inject",
    "z": "bluetti-tab-001",
    "name": "Ler dados agora",
    "props": [{"p": "payload"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "{\"command\":\"read\"}",
    "payloadType": "json",
    "x": 160,
    "y": 130,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "inject-ac-on-001",
    "type": "inject",
    "z": "bluetti-tab-001",
    "name": "AC Ligar",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"command\":\"ac_on\"}",
    "payloadType": "json",
    "x": 140,
    "y": 190,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "inject-ac-off-001",
    "type": "inject",
    "z": "bluetti-tab-001",
    "name": "AC Desligar",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"command\":\"ac_off\"}",
    "payloadType": "json",
    "x": 150,
    "y": 240,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "inject-dc-on-001",
    "type": "inject",
    "z": "bluetti-tab-001",
    "name": "DC Ligar",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"command\":\"dc_on\"}",
    "payloadType": "json",
    "x": 140,
    "y": 300,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "inject-dc-off-001",
    "type": "inject",
    "z": "bluetti-tab-001",
    "name": "DC Desligar",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"command\":\"dc_off\"}",
    "payloadType": "json",
    "x": 150,
    "y": 350,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "bluetti-normalize-001",
    "type": "function",
    "z": "bluetti-tab-001",
    "name": "Organizar todas as informações",
    "func": "const p = msg.payload || {};\nconst acIn = Number(p.acInputW || 0);\nconst dcIn = Number(p.dcInputW || 0);\nconst acOut = Number(p.acOutputW || 0);\nconst dcOut = Number(p.dcOutputW || 0);\nconst battery = Number(p.battery ?? 0);\nmsg.payload = {\n    online: !!p.online,\n    bateria_percentual: battery,\n    entrada_ac_w: acIn,\n    entrada_dc_w: dcIn,\n    entrada_total_w: acIn + dcIn,\n    saida_ac_w: acOut,\n    saida_dc_w: dcOut,\n    saida_total_w: acOut + dcOut,\n    ac_ligado: !!p.acEnabled,\n    dc_ligado: !!p.dcEnabled,\n    atualizado_em: p.updatedAt || new Date().toISOString(),\n    bruto: p\n};\nmsg.topic = 'bluetti/status';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 150,
    "wires": [["debug-full-001", "switch-battery-low-001", "status-to-flow-001"]]
  },
  {
    "id": "status-to-flow-001",
    "type": "change",
    "z": "bluetti-tab-001",
    "name": "Salvar em flow.bluetti",
    "rules": [{"t": "set", "p": "bluetti", "pt": "flow", "to": "payload", "tot": "msg"}],
    "x": 1080,
    "y": 150,
    "wires": [[]]
  },
  {
    "id": "switch-battery-low-001",
    "type": "switch",
    "z": "bluetti-tab-001",
    "name": "Bateria abaixo de 20%?",
    "property": "payload.bateria_percentual",
    "propertyType": "msg",
    "rules": [{"t": "lt", "v": "20", "vt": "num"}],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1090,
    "y": 230,
    "wires": [["change-ac-off-auto-001", "change-dc-off-auto-001"]]
  },
  {
    "id": "change-ac-off-auto-001",
    "type": "change",
    "z": "bluetti-tab-001",
    "name": "Comando AC OFF automático",
    "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "{\"command\":\"ac_off\"}", "tot": "json"}],
    "x": 1370,
    "y": 210,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "change-dc-off-auto-001",
    "type": "change",
    "z": "bluetti-tab-001",
    "name": "Comando DC OFF automático",
    "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "{\"command\":\"dc_off\"}", "tot": "json"}],
    "x": 1370,
    "y": 260,
    "wires": [["bluetti-direct-001"]]
  },
  {
    "id": "debug-status-001",
    "type": "debug",
    "z": "bluetti-tab-001",
    "name": "Status bruto da Bluetti",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 830,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug-full-001",
    "type": "debug",
    "z": "bluetti-tab-001",
    "name": "Todas as informações organizadas",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1110,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-error-001",
    "type": "debug",
    "z": "bluetti-tab-001",
    "name": "Erros / diagnóstico BLE",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 830,
    "y": 300,
    "wires": []
  }
]
