node-red/flows/bluetti-info-nodes.json
[
  {"id":"bluetti-info-tab","type":"tab","label":"Bluetti - Nós de informações","disabled":false,"info":"Fluxo com um nó separado para cada informação da Bluetti."},
  {"id":"bluetti-direct-node","type":"bluetti-direct","z":"bluetti-info-tab","name":"Bluetti Principal","mac":"COLOQUE_O_MAC_DA_BLUETTI_AQUI","interval":"5","autoStart":true,"x":260,"y":260,"wires":[["split-info-node"],["debug-ble-error"]]},
  {"id":"inject-connect-node","type":"inject","z":"bluetti-info-tab","name":"Conectar automaticamente","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"{\"command\":\"connect\"}","payloadType":"json","x":220,"y":120,"wires":[["bluetti-direct-node"]]},
  {"id":"inject-read-node","type":"inject","z":"bluetti-info-tab","name":"Atualizar a cada 5s","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"{\"command\":\"read\"}","payloadType":"json","x":210,"y":170,"wires":[["bluetti-direct-node"]]},
  {"id":"split-info-node","type":"function","z":"bluetti-info-tab","name":"Separar informações em nós","func":"const p = msg.payload || {};\nconst acIn = Number(p.acInputW || 0);\nconst dcIn = Number(p.dcInputW || 0);\nconst acOut = Number(p.acOutputW || 0);\nconst dcOut = Number(p.dcOutputW || 0);\nconst battery = Number(p.battery ?? 0);\nconst updated = p.updatedAt || new Date().toISOString();\nreturn [\n  {topic:'bluetti/online', payload: !!p.online},\n  {topic:'bluetti/bateria_percentual', payload: battery},\n  {topic:'bluetti/entrada_ac_w', payload: acIn},\n  {topic:'bluetti/entrada_dc_w', payload: dcIn},\n  {topic:'bluetti/entrada_total_w', payload: acIn + dcIn},\n  {topic:'bluetti/saida_ac_w', payload: acOut},\n  {topic:'bluetti/saida_dc_w', payload: dcOut},\n  {topic:'bluetti/saida_total_w', payload: acOut + dcOut},\n  {topic:'bluetti/ac_ligado', payload: !!p.acEnabled},\n  {topic:'bluetti/dc_ligado', payload: !!p.dcEnabled},\n  {topic:'bluetti/atualizado_em', payload: updated},\n  {topic:'bluetti/dados_completos', payload: p}\n];","outputs":12,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":260,"wires":[["debug-online"],["debug-battery"],["debug-ac-in"],["debug-dc-in"],["debug-total-in"],["debug-ac-out"],["debug-dc-out"],["debug-total-out"],["debug-ac-state"],["debug-dc-state"],["debug-updated"],["debug-full"]]},
  {"id":"debug-online","type":"debug","z":"bluetti-info-tab","name":"ONLINE","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":900,"y":60,"wires":[]},
  {"id":"debug-battery","type":"debug","z":"bluetti-info-tab","name":"BATERIA %","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":100,"wires":[]},
  {"id":"debug-ac-in","type":"debug","z":"bluetti-info-tab","name":"ENTRADA AC W","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":920,"y":140,"wires":[]},
  {"id":"debug-dc-in","type":"debug","z":"bluetti-info-tab","name":"ENTRADA DC W","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":920,"y":180,"wires":[]},
  {"id":"debug-total-in","type":"debug","z":"bluetti-info-tab","name":"ENTRADA TOTAL W","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":220,"wires":[]},
  {"id":"debug-ac-out","type":"debug","z":"bluetti-info-tab","name":"SAÍDA AC W","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":260,"wires":[]},
  {"id":"debug-dc-out","type":"debug","z":"bluetti-info-tab","name":"SAÍDA DC W","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":300,"wires":[]},
  {"id":"debug-total-out","type":"debug","z":"bluetti-info-tab","name":"SAÍDA TOTAL W","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":920,"y":340,"wires":[]},
  {"id":"debug-ac-state","type":"debug","z":"bluetti-info-tab","name":"AC LIGADO","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":380,"wires":[]},
  {"id":"debug-dc-state","type":"debug","z":"bluetti-info-tab","name":"DC LIGADO","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":420,"wires":[]},
  {"id":"debug-updated","type":"debug","z":"bluetti-info-tab","name":"ATUALIZADO EM","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":920,"y":460,"wires":[]},
  {"id":"debug-full","type":"debug","z":"bluetti-info-tab","name":"DADOS COMPLETOS","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":500,"wires":[]},
  {"id":"debug-ble-error","type":"debug","z":"bluetti-info-tab","name":"ERROS BLE","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":560,"y":420,"wires":[]},
  {"id":"cmd-ac-on","type":"inject","z":"bluetti-info-tab","name":"Comando AC ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"ac_on\"}","payloadType":"json","x":210,"y":520,"wires":[["bluetti-direct-node"]]},
  {"id":"cmd-ac-off","type":"inject","z":"bluetti-info-tab","name":"Comando AC OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"ac_off\"}","payloadType":"json","x":210,"y":560,"wires":[["bluetti-direct-node"]]},
  {"id":"cmd-dc-on","type":"inject","z":"bluetti-info-tab","name":"Comando DC ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"dc_on\"}","payloadType":"json","x":210,"y":600,"wires":[["bluetti-direct-node"]]},
  {"id":"cmd-dc-off","type":"inject","z":"bluetti-info-tab","name":"Comando DC OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":\"dc_off\"}","payloadType":"json","x":210,"y":640,"wires":[["bluetti-direct-node"]]}
]
